<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<link rel="stylesheet" href="../static/style.css">
	<title> SvAeYnMkAy</title>
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
	<script src="../static/auto_complete.js"></script>
    </head>


<body>
<div class="tabs is-centered is-medium">
    <ul>
	<li class="is-active">
	    <a href="search">
		<span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
		<span>Route between two stops</span>
	    </a>
	</li>
	<li>
	    <a href="bmtc_map">
		<span class="icon is-small"><i class="fas fa-map" aria-hidden="true"></i></span>
		<span>Maps</span>
	    </a>
	</li>
	<li>
	    <a href="route_info">
		<span class="icon is-small"><i class="fas fa-info" aria-hidden="true"></i></span>
		<span>Route_info</span>
	    </a>
	</li>


	    <!-- <li>
		 <a href="bstop">
		 <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
		 <span>Bstop_info</span>
		 </a>
		 </li>

		 <li>
		 <a href="network">
		 <span class="icon is-small"><i class="fab fa-connectdevelop" aria-hidden="true"></i></span>
		 <span>Network</span>
		 </a>
		 </li>
		 <li>
		 <a href="stats">
		 <span class="icon is-small"><i class="fas fa-calculator" aria-hidden="true"></i></span>
		 <span>Stats</span>
		 </a>
		 </li> -->
  </ul>
</div>


<div id="container">

    {% block body %}
    {% endblock %}
</div>
</body>
