{% include "base.html" %}
{% block body %}

<form method="POST"  autocomplete="off"  id="autocomplete">
    <div class="autocomplete" style="width:500px;">
	<!-- <label for="origin">origin </label> -->
	<input name="origin" id="origin" id="autocomplete" placeholder="Orgin Bus stop">
	<!-- <label for="destination">destination</label> -->
	<input name="destination" id="destination" id="autocomplete" placeholder="Destination stop">
	<input type="submit" value="Search">
    </div>
</form>  


<section class="section">
    <div class="container">
	<table style= "width:100%";  border:"1px solid black"; border-collapse:"collapse"; padding:"15px"; align:"center";>
	    <caption><b>Trip Details from {{ origin }} to {{ destination }}</b></caption>
	    <thead>
		{% for hdr in header %}
		<th>{{hdr}}</th>
		{% endfor %}
	    </thead>
	    <tbody>
		{% for item in items %}
		<tr>
		    
		    <td>{{ item[0] }}</td>
		    <td>{{ item[1] }}</td>
		    <td>{{ item[2] }}</td>
		    <!-- <td><a href="{{item.magnet_url}}" download><i class="fa fa-download"></i></td>
			 <td><a href="{{item.torrent_url}}" download><i class="fa fa-download"></i></td> -->
		</tr>
		{% endfor %}
	    </tbody>
	</table>
    </div>
</section>

<script>
 autocomplete(document.getElementById("origin"), bstops);
 autocomplete(document.getElementById("destination"), bstops);
</script>


{% endblock %}

</html>
